.contacts-section {
    display: flex;
    flex-direction: row;
}

.contacts-container {
    position: relative;
    height: 100vh;
    width: 320px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    padding-right: 10px;
}

.new-group {
    border-radius: 10px;
    background-color: aliceblue;
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding: 6px;
    margin-top: 10px;
}

.create-group {
    justify-content: flex-start;
}

.new-contact {
    border-radius: 10px;
    background-color: aliceblue;
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-contact {
    justify-content: flex-start;
}

.contact-element {
    width: calc(100% - 10px);
    border-radius: 8px;
    padding: 6px;
    margin-top: 10px;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    background-color: aliceblue;
}

.contact-list p {
    margin-bottom: 1px;
}

.welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
}