.timeline-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.time {
    color: #676767;
}

/*
.text-box {
    display: flex;
    margin: 0.5rem;
    
}

.text-box .incoming {
    justify-content: flex-start;
}

.text-box .outgoing {
    align-self: flex-end;
}

.messageBox {
    padding: 6px;
    border-radius: 12px;
    width: max-content;
    background-color: aliceblue;
}

.text-box.incoming .messageBox {
    background-color: #242657;
}

.messageBox .message p {
    font-size: 14px;
    line-height: 0.5;
    color: black;
}

.text-box.incoming .message p {
    color: white;
}

.reply-text {
    display: flex;
    padding: 6px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-color: #242657;
} */