.sidebar-container {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FFFFFF   ;
}

h1 {
    color: #165a72;
    margin: 50px auto;
    font-size: 40px;
}

h2 {
    color: #165a72;
}

.selected {
    background-color: #242657e6;
    color: #000000; 
}

.user-profile{
    position: relative;
    left: 30px;
}